[submodule "nccl-tests"]
	path = nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
[submodule "nccl"]
	path = nccl
	url = https://github.com/MajedAlrogi/nccl-phoenix-2.0
[submodule "pytorch"]
	path = pytorch
	url = git@github.com:MajedAlrogi/pytorch-phoenix.git
